@model IEnumerable<IncomeMonitor.Domain.Entities.Procedure>
@{
    ViewBag.Title = "Procedures";
}
@foreach (var p in Model)
{
    <div class="item">
        <h3>@p.ProcedureId</h3>
        @p.Information
        @p.Note
        @p.ProcedureDate
        <h4>@p.Value.ToString("c")</h4>
    </div>
}